# Credenciais Luz do Saber
LUZ_USER=seu_usuario_aqui
LUZ_PASS=sua_senha_aqui

# Configurações da Plataforma
LUZ_BASE_URL=https://webdivulgacao.luzdosaber.com.br
LUZ_LOGIN_URL=https://webdivulgacao.luzdosaber.com.br/Login.aspx?Pagina=Default.aspx
LUZ_SCHOOL_URL_PREFIX=https://webdivulgacao.luzdosaber.com.br/Escola.aspx?IDEscola=
